<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bms.dao.BookMapper">
	<insert id="addBook" parameterType="Book">
		insert into bms.book (bid,bookname,kind,num) values(#{bid},#{bookname},#{kind},#{num},);
	</insert>
	
	<delete id="deleteBookById" parameterType="int">
		delete from bms.book where bid=#{bid};
	</delete>
	
	<update id="updateBook" parameterType="Book">
		update bms.book set bookname=#{bookname},kind=#{kind},num=#{num} where bid=#{bid};
	</update>
	
	<select id="queryBookById" parameterType="Book">
		select * from bms.book where bid=#{bid};
	</select>
	
	<select id="queryAllBook" parameterType="Book">
		select * from bms.book;
	</select>
</mapper>